@use '../src/assets/styles/partials/global';


#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero-copy {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}